
<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/02.jpg);">
    <div class="container">
      <div class="row"> 
        <div class="col-lg-12"> 
        <div class="page-title-name">
            <h1>About us</h1>
            <p>We are listed some interesting facts about our company. Read it bellow.</p>
          </div>
            <ul class="page-breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
              <li><a href="#">About us</a> <i class="fa fa-angle-double-right"></i></li>
             
         </ul>
       </div>
       </div>
    </div>
  </section>
  
  <!--=================================
  page-title -->
  
  
  <!--=================================
   About-->
  
  
  
  <!--=================================
   About-->
  
   
  <!--=================================
  happy clients -->
  
  
  <!--=================================
  happy clients -->
  
  
  <!--=================================
   Our History -->
  
  <section class="our-history white-bg page-section-ptb">
    <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-10">
            <div class="section-title text-center">
              <h6>From the beginning</h6>
              <h2 class="title-effect">Our History</h2>
              <p>HealthyLife – For Healthy Body</p>
            </div>      
        </div>
      </div>
       <div class="row justify-content-center">
       <div class="col-lg-10">
          <div class="timeline-dots"></div>
          <ul class="timeline">
              <li>
                <div class="timeline-badge"><p class="theme-color">10 Dec 2011</p></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title text-muted">Quis neque Suspendisse in orci enim.</h5>
                    
                  </div>
                  <div class="timeline-body">
                    <p>Dignissimos excepturi tempore iste, iusto sed sit delectus ratione laudantium, laboriosam quaerat eius odit explicabo necessitatibus, ipsum incidunt voluptas.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge"><p class="theme-color">15 Jan 2014</p></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title text-muted">Proin gravida nibh vel velit auctor aliquet. </h5>
                  </div>
                  <div class="timeline-body">
                    <p>Iusto sed sit delectus ratione laudantium, laboriosam quaerat eius odit explicabo necessitatibus, ipsum incidunt voluptas dignissimos excepturi tempore iste. </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge"><p class="theme-color">05 Jul 2017</p></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title text-muted">Fermentum feugiat velit mauris egestas quam</h5>
                  </div>
                  <div class="timeline-body">
                    <p>Incidunt voluptas dignissimos excepturi tempore iste iusto sed sit delectus ratione laudantium, laboriosam quaerat eius odit explicabo necessitatibus, ipsum. </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge"><p class="theme-color">10 Aug 2016</p></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title text-muted">Aenean sollicitudin, lorem quis bibendum auctor</h5>
                  </div>
                  <div class="timeline-body">
                    <p>Laboriosam quaerat eius odit explicabo necessitatibus, ipsum incidunt voluptas dignissimos excepturi tempore iste iusto sed sit delectus ratione laudantium.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge"><p class="theme-color">22 May 2017</p></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title">Nullam ac urna eu felis dapibus condimentu</h5>
                  </div>
                  <div class="timeline-body">
                    <p>Voluptas dignissimos excepturi tempore iste iusto sed sit delectus ratione laudantium laboriosam quaerat eius odit explicabo necessitatibus, ipsum incidunt. </p>
                  </div>
                </div>
              </li>
              <li class="timeline-arrow"><i class="fa fa-chevron-down"></i></li>
           </ul>
        </div>
       </div>
     </div>
  </section>
  
  <!--=================================
   Our History -->
   
  
  <!--=================================
  Our Clients  -->
  
  <section class="page-section-ptb gray-bg">
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section-title">
            <h6>Have a look at our </h6>
            <h2 class="title-effect">Users Opinions & Reviews</h2>
          </div>
      </div>
    </div>
   <div class="row">
    <div class="col-lg-6">
     <div class="owl-carousel" data-nav-arrow="false" data-nav-dots="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1">
        <div class="item"><div class="testimonial bottom_pos light">
          <div class="testimonial-avatar"> <img alt="" src="images/review-template.jpg"> </div>
          <div class="testimonial-info"> Excellent Customer support! These guys reply within minutes sometimes and really help you with when you need them. The template itself is very extended as well. Happy with my purchase!</div>
          <div class="author-info"> <strong>15Twelve - <span>ThemeForest user</span></strong> </div>
      </div>
      </div>
      <div class="item">
       <div class="testimonial bottom_pos light">
          <div class="testimonial-avatar"> <img alt="" src="images/review-template.jpg"> </div>
          <div class="testimonial-info"> One of the most complete template here. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. And the best of all, great introductions</div>
          <div class="author-info"> <strong>Xerracol - <span>ThemeForest user</span></strong> </div>
      </div>
      </div>
      <div class="item">
       <div class="testimonial bottom_pos light">
          <div class="testimonial-avatar"> <img alt="" src="images/review-template.jpg"> </div>
           <div class="testimonial-info"> This is a well put together template and the developer offers great support. I've been in contact with them and the response was prompt and everything has been taken care of.</div>
          <div class="author-info"> <strong>Warble - <span>ThemeForest user</span></strong> </div>
        </div>
       </div>
     </div>
   </div>
         
   <div class="col-lg-6 sm-mt-50">
        <div class="clients-list clients-border column-3">
           <ul class="list-unstyled">
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
             <li> 
                <img class="img-fluid mx-auto" src="images/client-template.png" alt="">
             </li>
           </ul>
        </div>
       </div>
      </div>
     </div>
  </section>