
<div ng-if="is_admin()">
<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/slider-bg.jpg);">
    <div class="container">
      <div class="row"> 
        <div class="col-lg-12"> 
        <div class="page-title-name">
            <h1>Add Disease</h1>
            <p>Add new Disease to your site.</p>
          </div>
            <ul class="page-breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
              <li><a href="#">Add Disease</a> <i class="fa fa-angle-double-right"></i></li>
             
         </ul>
       </div>
       </div>
    </div>
  </section>
  
  <section class="main-section">
      <div class="container">
         
            <form name="addDisease" enctype="multipart/form-data" novalidate class="col-md-10 edit-user-form" style="margin: 30px auto;">

                    <div class="login-box pb-50 clearfix white-bg">
                         
                      <div class="row">
                         <div class="section-field mb-20 col-sm-12">
                           <label class="mb-10" for="name">Disease Title </label>
                             <input id="title" class="web form-control" type="text"  name="title"  ng-model="disease.title" required>
                              <span style="color:red; font-size:12px;" ng-show="addDisease.title.$touched && addDisease.title.$invalid">
                                <span ng-show="addDisease.title.$error.required">Title is required.</span>
                              </span>
                          </div>
                           <div class="section-field mb-20 col-sm-12">
                           <label class="mb-10" for="name">Disease Content </label>
                             <textarea id="content" class="web form-control" style="height:300px;" name="content" ng-model="disease.content" pattern=".{50,}" required></textarea>
                             <span style="color:red; font-size:12px;" ng-show="addDisease.content.$touched && addDisease.content.$invalid">
                                <span ng-show="addDisease.content.$error.required">You need to enter minimum 50 chars.</span>
                              </span>
                          </div>
                          <div class="section-field mb-20 col-sm-12">
                                <label class="mb-10" for="name">Tags </label>
                                  <input id="tags" class="web form-control" type="text"  name="tags"  ng-model="disease.tags">
                               </div>
                            <div class="section-field mb-20 col-sm-12">
                           <label class="mb-10" for="name">Image </label>
                             <input id="image" class="web form-control" type="file"  name="image"  ng-model="disease.image">
                              <span style="color:red; font-size:12px;" ng-show="addDisease.image.$touched && addDisease.image.$invalid">
                                <span ng-show="addDisease.image.$error.required">Image is required.</span>
                              </span>
                          </div>
                          <div class="section-field mb-20 col-sm-12">
                            <label class="mb-10" for="name">Select drug which is recommended for this disease by your system </label>
                              <select id="category" class="web form-control" name="category" ng-model="disease.suggested_drug" style="height:unset" required>
                                  <option value="">Select Drug</option>
                                  <option ng-repeat="drug in drugs"  value="{{drug._id}}title{{drug.title}} ">{{drug.title}}</option>
                              </select>
                              <span style="color:red; font-size:12px;" ng-show="addDrug.content.$touched && addDrug.content.$invalid">
                                 <span ng-show="addDrug.content.$error.required">Category is required.</span>
                               </span>
                        </div>
                        </div>
                       
                        
                       
                        <button ng-click="add_disease(disease)" ng-disabled="!addDisease.$valid" class="button" type="submit">ADD DISEASE <i class="fa fa-check"></i></button>
                      
                      </div>
            
                   
                    </form>

                   
                    <div class="message-success"><p style="color: green; margin-top:40px;"> {{message_success}}</p>

</div>
</section>
</div>
<div ng-if="!is_admin()">
<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/slider-bg.jpg);">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12"> 
      <div class="page-title-name">
          <h1>Sorry, only admin can use this page.</h1>
         
        </div>
          <ul class="page-breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="#">Add Disease</a> <i class="fa fa-angle-double-right"></i></li>
           
       </ul>
     </div>
     </div>
  </div>
</section>
</div>
