<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>		
		<script type="text/javascript">
       /*     $(function(){				
                $('#login').click(function(e){
                    e.preventDefault();
                    console.log('select_link clicked');
                    
                     $.ajax({
                        dataType: 'jsonp',
                        data: "data=credentials",						
                        jsonp: 'callback',
                        url: 'http://localhost:3200/login?callback=?',						
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        }
                    });
					var data = {};
					data.title = "title";
					data.message = "message";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: 'http://localhost:3000/login',						
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        }
                    });
	
                });				
            });*/
        </script>

<section class="login-box-main height-100vh page-section-ptb parallax" style="background: url(images/slider-bg.jpg)">  <div class="login-box-main-middle">
    <div class="container">
        <div ng-if="!check_login()">
       <div class="row justify-content-center no-gutter">
        <div class="col-lg-2 col-md-4">
          <div class="login-box-left  white-bg">
           <a href="index.html"> <img class="logo-small" src="images/logo-emblem.png" alt=""></a>
               <ul class="nav">
                 <li class="active"><a href="#"> <i class="ti-user"></i> Login</a></li>
                 <li ng-class="getClass('/register')"><a href="#!register"> <i class="ti-pencil-alt"></i> Signup</a></li>
              </ul>
             <div class="social-icons color-hover clearfix pos-bot pb-30 pl-30">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
         <div class="col-md-4 bitcoin-about-bg">
           <div class="login-box pos-r text-white ">
            <h2 class="text-white mb-20">Welcome to HealthyLife</h2>
            <p class="mb-10 text-white">Make your life healthy. </p>
            <p class="text-white">Save your money.</p> 
            <ul class="list-unstyled  pos-bot pb-40">
              <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
              <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
            </ul>
           </div> 
         </div>
         <div class="col-md-4">
            <form name="loginUser" novalidate>
          <div class="login-box pb-50 clearfix white-bg">
          <h3 class="mb-30">Login</h3>
           <div class="section-field mb-20">
               <label class="mb-10" for="name">Username* </label>
                 <input id="name" class="web form-control" type="text"  name="username"  ng-model="credentials.username" required>
                 
              </div>
              <div class="section-field mb-20">
               <label class="mb-10" for="Password">Password* </label>
                 <input id="Password" class="Password form-control" type="password" name="password"  ng-model="credentials.password" required>
              </div>
              <div class="section-field">
                <div class="remember-checkbox mb-30">
                   <input type="checkbox" class="form-control" name="two" id="two" />
                   <label for="two"> Remember me</label>
                   <a href="password-recovery.html" class="float-right">Forgot Password?</a>
                  </div>
                </div>
              
               <button  ng-click="login(credentials)" ng-disabled="!loginUser.$valid" class="button" type="submit">Signup <i class="fa fa-check"></i></button>
               <div class="message-success"><p style="color: green; margin-top:40px;"> {{message_success}}</p>
              </div>
          </form>
           </div>
          </div>
        </div>
      </div>
      <div ng-if="check_login()" id="login">
          <h4 style="color: #ffffff;text-align: center; font-size: 2rem;">You are logged in already.</h4>
          </div>
              
  </div>
  </section>
  

