
<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/slider-bg.jpg);">
    <div class="container">
      <div class="row"> 
        <div class="col-lg-12"> 
        <div class="page-title-name">
            <h1>My Profile</h1>
            <p>Edit personal information about you.</p>
          </div>
            <ul class="page-breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
              <li><a href="#">My Profile</a> <i class="fa fa-angle-double-right"></i></li>
             
         </ul>
       </div>
       </div>
    </div>
  </section>
  
  <div ng-repeat="user in users">
        <h6 class="simple-text">Here you can change your personal information.</h6>
  <form name="editUser" novalidate class="col-md-6 edit-user-form" style="margin: 30px auto;">

        <div class="login-box pb-50 clearfix white-bg">
             
          <div class="row">
             <div class="section-field mb-20 col-sm-12">
               <label class="mb-10" for="name">First name </label>
                 <input id="name" class="web form-control" type="text" value="{{user.firstname}}"  name="firstname"  ng-model="user.firstname" required>
                  <span style="color:red; font-size:12px;" ng-show="addUser.firstname.$touched && addUser.firstname.$invalid">
                    <span ng-show="addUser.firstname.$error.required">Firstname is required.</span>
                  </span>
              </div>
               <div class="section-field mb-20 col-sm-12">
               <label class="mb-10" for="name">Last name </label>
                 <input id="lastname" class="web form-control" type="text" value="{{user.lastname}}"  name="lastname" ng-model="user.lastname" required>
                 <span style="color:red; font-size:12px;" ng-show="addUser.lastname.$touched && addUser.lastname.$invalid">
                    <span ng-show="addUser.lastname.$error.required">Lastname is required.</span>
                  </span>
              </div>
            </div>
            <div class="section-field mb-20">
              <label class="mb-10" for="name">Username </label>
               <input type="text"  class="form-control" name="username"  value="{{user.username}}" disabled ng-model="user.username" required>
               <span style="color:red; font-size:12px;" ng-show="addUser.username.$touched && addUser.username.$invalid">
                  <span ng-show="addUser.username.$error.required">Username is required.</span>
                </span>
          </div>
            <div class="section-field mb-20">
                 <label class="mb-10" for="name">Email </label>
                  <input type="email"  class="form-control" name="email"  value="{{user.email}}" ng-model="user.email" required>
                    <span style="color:red; font-size:12px;" ng-show="addUser.email.$touched && addUser.email.$invalid">
                      <span ng-show="addUser.email.$error.required">Email is required.</span>
                      <span ng-show="addUser.email.$error.email">Invalid email address.</span>
                    </span>
             </div>
          
            <button ng-click="edit_user(user)" ng-disabled="!editUser.$valid" class="button" type="submit">Edit Profile <i class="fa fa-check"></i></button>
            <a href="#!change_password" class="btn btn-primary">Change Password <i class="fa fa-check"></i></a>

            <div class="message-success"><p style="color: green; margin-top:40px;"> {{message_success}}</p>
          </div>

       
        </form>
     </div>