<section class="login-box-main height-100vh page-section-ptb parallax" style="background: url(images/slider-bg.jpg)">
    <div class="login-box-main-middle">
    <div class="container">
        <div ng-if="!check_login()">
       <div class="row justify-content-center no-gutter">
        <div class="col-lg-2 col-md-4">
          <div class="login-box-left  white-bg">
          <a href="index.html">   <img class="logo-small" src="images/logo-emblem.png" alt=""></a>
               <ul class="nav">
                 <li ng-class="getClass('/login')"><a href="#!login"> <i class="ti-user"></i> Login</a></li>
                 <li class="active"><a href="#"> <i class="ti-pencil-alt"></i> Signup</a></li>
              </ul>
             <div class="social-icons color-hover clearfix pos-bot pb-30 pl-30">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
         <div class="col-md-4 bitcoin-about-bg">
           <div class="login-box pos-r text-white ">
            <h2 class="text-white mb-20">Welcome to HealthyLife</h2>
            <p class="mb-10 text-white">Make your life healthy. </p>
            <p class="text-white">Save your money.</p> 
            <ul class="list-unstyled pos-bot pb-40">
              <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
              <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
            </ul>
           </div> 
         </div>
         <div class="col-md-4">
           
          <form name="addUser" novalidate>
          <div class="login-box pb-50 clearfix white-bg">
          <h3 class="mb-30">Signup</h3>
            <div class="row">
               <div class="section-field mb-20 col-sm-6">
                 <label class="mb-10" for="name">First name* </label>
                   <input id="name" class="web form-control" type="text"  name="firstname"  ng-model="user.firstname" required>
                    <span style="color:red; font-size:12px;" ng-show="addUser.firstname.$touched && addUser.firstname.$invalid">
                      <span ng-show="addUser.firstname.$error.required">Firstname is required.</span>
                    </span>
                </div>
                 <div class="section-field mb-20 col-sm-6">
                 <label class="mb-10" for="name">Last name* </label>
                   <input id="lastname" class="web form-control" type="text"  name="lastname" ng-model="user.lastname" required>
                   <span style="color:red; font-size:12px;" ng-show="addUser.lastname.$touched && addUser.lastname.$invalid">
                      <span ng-show="addUser.lastname.$error.required">Lastname is required.</span>
                    </span>
                </div>
              </div>
              <div class="section-field mb-20">
                <label class="mb-10" for="name">Username* </label>
                 <input type="text"  class="form-control" name="username"  ng-model="user.username" required>
                 <span style="color:red; font-size:12px;" ng-show="addUser.username.$touched && addUser.username.$invalid">
                    <span ng-show="addUser.username.$error.required">Username is required.</span>
                  </span>
            </div>
              <div class="section-field mb-20">
                   <label class="mb-10" for="name">Email* </label>
                    <input type="email"  class="form-control" name="email"  ng-model="user.email" required>
                      <span style="color:red; font-size:12px;" ng-show="addUser.email.$touched && addUser.email.$invalid">
                        <span ng-show="addUser.email.$error.required">Email is required.</span>
                        <span ng-show="addUser.email.$error.email">Invalid email address.</span>
                      </span>
               </div>
              <div class="section-field mb-20">
               <label class="mb-10" for="Password">Password* </label>
                 <input id="password" class="Password form-control" type="password"  name="password"  pattern=".{5,}" ng-model="user.password" required>
                 <span style="color:red; font-size:12px;" ng-show="addUser.password.$touched && addUser.password.$invalid">
                    <span ng-show="addUser.password.$error.required">Password must have at least 5 chars.</span>
                  </span>
              </div>
              <button  ng-click="add_user()" ng-disabled="!addUser.$valid" class="button" type="submit">Signup <i class="fa fa-check"></i></button>
              <p style="color: green; margin-top:40px;"> {{message_success}}</p>
            </div>

         
          </form>
          
         
         
          </div>
        </div>
      </div>
      <div ng-if="check_login()">
          <h4 style="color: #ffffff;text-align: center; font-size: 2rem;">You are logged in already.</h4>
          </div>
    </div>
  </section>

  