<header id="header" class="header default">
     
        <!--=================================
         mega menu -->
        
        <div class="menu">  
          <!-- menu start -->
           <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
             <div class="container"> 
              <div class="row"> 
               <div class="col-lg-12 col-md-12"> 
                <!-- menu logo -->
                <ul class="menu-logo">
                    <li>
                        <a href="index-01.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
                    </li>
                </ul>
                <!-- menu links -->
                <div class="menu-bar">
                 <ul class="menu-links">
                    <li ng-class="getClass('/index')"><a href="#!index">HOME </a>  </li>
                    <li  ng-class="getClass('/about')"><a href="#!about"> ABOUT </a> </li>
                    <li><a href="javascript:void(0)"> CATEGORIES  <i class="fa fa-angle-down fa-indicator"></i> </a> 
                    <ul class="drop-down-multilevel left-side">
                            <li ng-class="getClass('/herbs')"><a href="#!herbs">Herbs</a>  </li>
                            <li ng-class="getClass('/fruits')"><a href="#!fruits">Fruits</a> </li>
                            <li ng-class="getClass('/vegetables')"><a href="#!vegetables">Vegetables</a> </li>
                        </ul>
                      </li>
                    <li ng-class="getClass('/blog')"><a href="#!blog"> BLOG </a> </li>
                    <li ng-class="getClass('/contact')"><a href="#!contact"> CONTACT US  </a> </li>
                    <div ng-if="!logedin">
                        <li ng-class="getClass('/login')"><a class="button mt-30 mb-20 mr-0" href="#!login" style="margin-left: 20px;padding: 10px 20px;margin-top: 37px !important;">LOGIN</a></li>
                    </div>
                    <div ng-if="logedin">
                    <li ng-class="getClass('/logout')" ng-click="logout()"><a class="button mt-30 mb-20 mr-0" href="#!index" style="margin-left: 20px;padding: 10px 20px;margin-top: 37px !important;">LOGOUT</a></li>
                    </div>

                   
                </ul>
                </div>
               </div>
              </div>
             </div>
            </section>
           </nav>
          <!-- menu end -->
         </div>
        </header>